apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: sushmagowda321/mernbackend
          env:
            - name: MONGO_URI
              value: "mongodb://mongo-service:27017/budhan-users"
          ports:
            - containerPort: 5000
